@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }
body {
	font-family: 'Noto Sans KR', sans-serif;
	text-align: center;
	overflow-x: hidden;
}

p {
    font-size: 1.2em;
}

button {
	display: inline-block;
	margin-bottom: 0;
	margin-bottom: 10px;
	padding: 6px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	border-radius: 5px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.428571429;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.visibility{
	visibility: hidden;
}

.animated{
	visibility: visible!important;
}

/* HEADER */
header {
	padding: 200px 0px 0px 0px;
	height: 960px;
	background: url('../img/background-main.png');
	background-color: white!important;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	overflow-x: hidden;
}

header h1 {
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'yg-jalnan';
	font-size: 5.8em;
	color: #282828;
	text-align: center;
}

header p.lead{
	font-size: 36px;
}


header .carousel-iphone{
	margin-right: auto;
	margin-left: auto;
	width: 350px;
	height: 672px;
	background: url('../img/iphone-front.png') no-repeat;
	background-size: 100%;
}

header .carousel {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding: 95px 0px 0px 4px;
	width: 282px;
}

header .carousel-indicators .active {
	width: 15px;
	height: 15px;
	background: #444444;
}

header .carousel-indicators {
	bottom: -63px;
}

header .carousel-indicators li {
	display: inline-block;
	margin: 1px;
	width: 15px;
	height: 15px;
	border: 1px solid #666666;
	border-radius: 10px;
	text-indent: -999px;
	cursor: pointer;
}

header .cloud1 {
	position: absolute;
	animation-name: cloud1;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	z-index: auto;
	padding-top: 30%;
	margin-left: -35%;
  }
   
  header .cloud2 {
	position: absolute;
	animation-name: cloud2;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	z-index: auto;
	padding-top: 50%;
	margin-left: 90%;
  }

  @keyframes cloud1 {
	0%   {left:0px; top:0px;}
	100%  {left:200px; top:0px;}
  }

  @keyframes cloud2 {
	0%   {left:0px; top:0px;}
	100%  {left:300px; top:0px;}
  }

/* DETAIL */

.detail {
	overflow: hidden;
	padding: 100px 0px 100px 0px;
    min-height: 1080px;
    background: url("../img/background-detail.png");
    max-width: 100%;
	height: auto !important;
}

.detail h1 {
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'yg-jalnan';
	font-size: 5.8em;
	color: #282828;
}

.detail h2 {
	font-weight: 300;
	font-family: 'yg-jalnan';
	font-size: 3.2em;
	color: #ffffff;
}

.detail h3 {
	font-weight: 300;
	font-size: 2.3em;
	line-height: 40pt;
}

@media screen and (max-width: 980px) {
	section.detail {
		padding: 2em 0;
	}
}

@media screen and (max-width: 736px) {
	section.detail h1 {
		margin-bottom: 2em;
	}
	section.detail h1 {
		font-size: 2em;
	}
	section.detail h1{
		font-size: .9em;
	}
}

@media screen and (max-width: 480px) {
	section.detail {
		text-align: center;
	}
	section.detail {
		text-align: center;
	}
}

/* CONTENTS */
.contents {
	overflow: hidden;
	padding: 50px 0px 0px 0px;
	min-height: 500px;
	background: url("../img/background-contents.png");
}

.contents .title{
	margin-bottom: 80px;
	text-align: center;
	
}

.contents .features .row{
	margin-bottom: 40px;
}

.contents .carousel h1{
	font-size: 3.8em;
	font-family: 'Noto Sans KR', sans-serif;
}
.contents .carousel h1, .contents p{
	text-align: left;
	font-weight: 300;
}

.contents p{
	color: #3D3D3D;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 2.0em;
	text-align: left;
}

.contents .carousel-control{
	background: none;
}

.contents .app-screenshot{
	overflow: hidden;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;
	width: 320px;
	height: 450px;
	background: url('../img/iphone-front.png') no-repeat;
	background-size: 100%;
}

.contents .app-screenshot img{
	margin-right: auto;
	margin-left: auto;
	padding-left: 4px;
	width: 275px;
}

.contents .carousel-indicators {
	position: relative;
	bottom: 0;
	left: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	padding-bottom: 8px;
	width: 100%;
	border-top: 1px solid #FFD014;
	background: #FFD014;
}

.contents .carousel-indicators .active {
	width: 45px;
	height: 5px;
	border: none;
	border-radius: 0px;
}

.contents .carousel-indicators li {
	display: inline-block;
	margin: 1px;
	width: 45px;
	height: 5px;
	border: none;
	border-radius: 0px;
	background: #FFFFFF;
	text-indent: -999px;
	cursor: pointer;
}

.contents .carousel-indicators .active {
	background: #FF9116;	
}

/* TEAM */
section.special {
	text-align: center;
	overflow-x: hidden;
}

section.special article {
	text-align: left;
}

section.team {
	padding: 6em 0;
	overflow-x: hidden;
}

section.team header1 {
	margin-bottom: 4em;
}

section.team header1 h2 {
	font-size: 2.75em;
	margin: 0 0 .5em 0;
}

section.team header1 p {
	font-size: 1em;
}

section.team article header1 {
	margin: 0;
}

section.team.style1 {
	background: url('../img/background-team.png');
}

section.team.style1 header1 h1 {
	font-weight: 300;
	font-family: 'yg-jalnan';
	font-size: 4.0em;
	color: #282828;
}

section.team.style1 header1 p {
	color: #2B2B2B;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
}

section.team.style1 h3 {
	font-weight: 300;
	font-family: 'yg-jalnan';
	font-size: 2.0em;
	color: #282828;
}

section.team.style1 p {
	color: #2B2B2B;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 100;
	font-size: 1.3em;
}

@media screen and (max-width: 980px) {
	section.team {
		padding: 2em 0;
	}
}

@media screen and (max-width: 736px) {
	section.team header1 {
		margin-bottom: 2em;
	}
	section.team header1 h2 {
		font-size: 2em;
	}
	section.team header1 p {
		font-size: .9em;
	}
}

@media screen and (max-width: 480px) {
	section.team {
		text-align: center;
	}
	section.team article {
		text-align: center;
	}
}

header1 p {
	color: #bbb;
	position: relative;
	margin: 0 0 1.5em 0;
}

header1 h2 + p {
	font-size: 1.25em;
	margin-top: -1em;
}

header1 h3 + p {
	font-size: 1.1em;
	margin-top: -0.8em;
}

header1 h4 + p,
header1 h5 + p,
header1 h6 + p {
	font-size: 0.9em;
	margin-top: -0.6em;
}

.flex {
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-pack: justify;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;

}

.flex.flex-4 .box {
	width: 21%;
}

@media screen and (max-width: 980px) {
	.flex.flex-4 .box {
		width: 47%;
	}
}

@media screen and (max-width: 480px) {
	.flex.flex-4 .box {
		width: 100%;
	}
}

.box {
	border: solid 3px #FFD014;
	margin-bottom: 2em;
	padding: 2.0em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
	margin-bottom: 0;
}

.box.alt {
	border: 0;
	border-radius: 0;
	padding: 0;
}

.box.person {
	border: solid 4px #FFD014;
	border-radius: 25px;
	padding: 3em 1.5em;
	background-color: #FFF9DE;
}

.box.person h3 {
	margin: 0;
}

.box.person .image {
	margin-bottom: 1em;
}

.box.person .image img {
	max-width: 100%;
}

.image {
	border-radius: 0;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 0;
	display: block;
}

.image.left, .image.right {
	max-width: 80%;
}

.image.left img, .image.right img {
	width: 100%;
}

.image.round img {
	border-radius: 100%;
}

.image.left {
	float: left;
	padding: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	padding: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}

.image.main {
	display: block;
	margin: 0 0 3em 0;
	width: 100%;
}

.image.main img {
	width: 100%;
}

.inner {
	max-width: 75em;
	margin: 0 auto;
}

@media screen and (max-width: 1280px) {
	.inner {
		max-width: 90%;
	}
}

@media screen and (max-width: 480px) {
	.inner {
		max-width: 85%;
	}
}

/* Footer */
.get-it{
	padding: 50px 0px 50px 0px;
	text-align: center;
	background-color: #FFD014;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
}

.get-it h1 {
	font-family: 'yg-jalnan';
	font-weight: normal;
	font-style: normal;
	font-size: 40pt;
	color: #282828;
}

.get-it .lead {
	font-size: 20pt;
	margin-bottom: 3%;
}

.get-it button.app-store{
	width: 152px;
	height: 62px;
	background: url(../img/github.png) #373737 no-repeat 6px 4px;
	color: white;
}

.get-it hr {
	margin-top: 3em;
	margin-bottom: 3em;
	color: #fff;
}
