@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.chat-title {
    padding-bottom: 7px;
    padding-left: 25px;
    font-size: 17px;
    padding-top: 5px;
}

.bar {
    border: 1.5px solid #f7c800;
    width: 41px;
    margin-left: 21px;
    margin-bottom: 0;
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.chat-img {
    width: 65px;
    border-radius: 50%;
    border-color: #f7c800;
    border-width: 0.05cm;
    border-style: solid;
}

.text-title {
    padding-top: 23px;
    font-family: 'yg-jalnan';
    font-weight: normal;
    font-style: normal;
}

.text {
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.text-time {
    color: gray;
    font-size: 15px;
    padding-bottom: 20px;
}

.last-tr {
    border-bottom: 1px solid gray;
    padding-left: 15px;
}

.first-tr {
    border-top: 1px solid gray;
}

td {
    padding-left: 10px;
}

