<!DOCTYPE html>
<html lang="en">
    <head>
      {% load static %}
        <meta charset="UTF-8">
            <title> Pit A Pet </title>
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <!-- CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">
            <link rel="stylesheet" href="{% static 'css/board.css' %}">
            <link href="{% static 'css/mypage.css' %}" rel="stylesheet" />
            <!-- Fonts -->
            <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
            <!-- JAVASCRIPT -->
            <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
            <!-- Alert Custom -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    </head>
    <body translate="no">
      <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}"><img  src="{% static 'img/logo-after.png' %}"></a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" font-color="#2B2B2B"> Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'index' %}"> 핏어팻 </a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'worklist' %}"> 산책 메이트 </a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'mypage' %}"> 마이 페이지 </a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a href="#" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"> {{request.session.member_id}} 님 </a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a href="{% url 'logout' %}" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"> 로그아웃 </a></li>
                </ul>
            </div>
        </div>
      </nav>
        <div class="wrapper" style="margin-top: 180px;">
            <div class="background">
                <img src="{% static 'img/background-member.png' %}" alt="">
            </div>
            <div class="item-bg"></div>
            <div class="news-slider">
                <div class="news-slider__wrp swiper-wrapper">
                  {%for user in users%}
                  {%if request.session.member_id != user.member_id%}
                    <div class="news-slider__item swiper-slide">
                        <a href="#" class="news__item">
                            <div class="news-date">
                              <span class="news-date__title"> {{user.name}} </span>
                              <span class="news-date__txt"> {{user.birth |  slice:"4" }}년생 </span>
                            </div>
                            <div class="news__title">
                                키우는 애완 동물 <span> {{user.animal}} </span>
                            </div>
                            <p class="news__txt">
                                {{user.name}}
                                <form action = "{% url 'chatroom'%}" method="post">
                                  {% csrf_token %}
                                  <input type = "hidden" name = person value = "{{user.member_id}}">
                                  <input class="button" type = "submit" value = "채팅하기"> &nbsp;&nbsp;
                                  <input class="button" type="button" value = "전화걸기" onclick="location.href='tel:{{user.phone}}'">
                                </form>
                            </p>
                            <div class="news__img">
                                <img src="{{user.img_url}}" alt="news">
                            </div>
                        </a>
                    </div>
                    {%endif%}
                    {%endfor%}
                </div>
                <div class="news-slider__ctr">
                    <div class="news-slider__arrows">
                        <button class="news-slider__arrow news-slider-prev">
                            <span class="icon-font">
                                <svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
                            </span>
                        </button>
                        <button class="news-slider__arrow news-slider-next">
                            <span class="icon-font">
                                <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
                            </span>
                        </button>
                    </div>
                    <div class="news-slider__pagination"></div>
                </div>
            </div>
        </div>
        <svg hidden="hidden">
            <defs>
                <symbol id="icon-arrow-left" viewBox="0 0 32 32">
                    <title>arrow-left</title>
                        <path d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"></path>
                </symbol>
                <symbol id="icon-arrow-right" viewBox="0 0 32 32">
                    <title>arrow-right</title>
                        <path d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"></path>
                </symbol>
            </defs>
        </svg>
        <script id="rendered-js" type="text/javascript"> 
            var bg = document.querySelector('.item-bg');
            var items = document.querySelectorAll('.news__item');
            var item = document.querySelector('.news__item');

            function cLog(content) {
              console.log(content);
            }

            if ($(window).width() > 800) {
              $(document).on("mouseover", ".news__item", function (_event, _element) {

              var newsItem = document.querySelectorAll('.news__item');
              newsItem.forEach(function (element, index) {
                element.addEventListener('mouseover', function () {
                  var x = this.getBoundingClientRect().left;
                  var y = this.getBoundingClientRect().top;
                  var width = this.getBoundingClientRect().width;
                  var height = this.getBoundingClientRect().height;

              $('.item-bg').addClass('active');
              $('.news__item').removeClass('active');
              // $('.news__item').removeClass('active');


              bg.style.width = width + 'px';
              bg.style.height = height + 'px';
              bg.style.transform = 'translateX(' + x + 'px ) translateY(' + y + 'px)';
            });

            element.addEventListener('mouseleave', function () {
              $('.item-bg').removeClass('active');
              $('.news__item').removeClass('active');
            });

          });

        });
      }


var swiper = new Swiper('.news-slider', {
  effect: 'coverflow',
  grabCursor: true,
  loop: true,
  centeredSlides: true,
  keyboard: true,
  spaceBetween: 0,
  slidesPerView: 'auto',
  speed: 300,
  coverflowEffect: {
    rotate: 0,
    stretch: 0,
    depth: 0,
    modifier: 3,
    slideShadows: false },

  breakpoints: {
    480: {
      spaceBetween: 0,
      centeredSlides: true } },


  simulateTouch: true,
  navigation: {
    nextEl: '.news-slider-next',
    prevEl: '.news-slider-prev' },

  pagination: {
    el: '.news-slider__pagination',
    clickable: true },

  on: {
    init: function () {
      var activeItem = document.querySelector('.swiper-slide-active');

      var sliderItem = activeItem.querySelector('.news__item');

      $('.swiper-slide-active .news__item').addClass('active');

      var x = sliderItem.getBoundingClientRect().left;
      var y = sliderItem.getBoundingClientRect().top;
      var width = sliderItem.getBoundingClientRect().width;
      var height = sliderItem.getBoundingClientRect().height;


      $('.item-bg').addClass('active');

      bg.style.width = width + 'px';
      bg.style.height = height + 'px';
      bg.style.transform = 'translateX(' + x + 'px ) translateY(' + y + 'px)';
    } } });



swiper.on('touchEnd', function () {
  $('.news__item').removeClass('active');
  $('.swiper-slide-active .news__item').addClass('active');
});

swiper.on('slideChange', function () {
  $('.news__item').removeClass('active');
});

swiper.on('slideChangeTransitionEnd', function () {
  $('.news__item').removeClass('active');
  var activeItem = document.querySelector('.swiper-slide-active');

  var sliderItem = activeItem.querySelector('.news__item');

  $('.swiper-slide-active .news__item').addClass('active');

  var x = sliderItem.getBoundingClientRect().left;
  var y = sliderItem.getBoundingClientRect().top;
  var width = sliderItem.getBoundingClientRect().width;
  var height = sliderItem.getBoundingClientRect().height;


  $('.item-bg').addClass('active');

  bg.style.width = width + 'px';
  bg.style.height = height + 'px';
  bg.style.transform = 'translateX(' + x + 'px ) translateY(' + y + 'px)';
});
        
        </script>
    </body>
</html>
