<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="../../static/css/board.css">
    <script src="../../static/js/board.js"></script>
    <title> 게시판 </title>
</head>
<body translate="no">
    <div class="center">
        {% csrf_token %}
        {%for user in users%}
        <div class="card">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">
                        Level 13
                    </div>
                        <div class="points center">
                            5,312 Points
                        </div>
                    <svg width="110" height="110" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="title desc" class="center">
                        <title id="title"> Teacher </title>
                        <desc id="desc"> Cartoon of a Caucasian woman smiling, and wearing black glasses and a purple shirt with white collar drawn by Alvaro Montoro. </desc>
                        <defs>
                            <clipPath id="scene">
                                <circle cx="125" cy="125" r="115" />
                            </clipPath>
                            <clipPath id="lips">
                                <path d="M 106,132 C 113,127 125,128 125,132 125,128 137,127 144,132 141,142  134,146  125,146  116,146 109,142 106,132 Z" />
                            </clipPath>
                        </defs>
                        <circle cx="125" cy="125" r="120" fill="rgba(0,0,0,0.15)" />
                            <g stroke="none" stroke-width="0" clip-path="url(#scene)">
                                <rect x="0" y="0" width="250" height="250" fill="#b0d2e5" />
                                <!-- 이미지 삽입 -->
                            </g>
                    </svg>
                </div>
                <div class="more-info">
                    <h1>{{user.name}}</h1>
                    <div class="coords">
                        <span>생년월일</span>
                        <span>{{user.birth}}</span>
                    </div>
                <div class="coords">
                    <span>반려동물</span>
                    <span>{{user.animal}}</span>
                </div>
                <p><button> Contact </button></p>
                <!-- 버튼 모양 바꾸기 -->
            </div>
        </div>
    </div>
    {%endfor%}
</div>
</body>
</html>
