<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> Pit A Pet </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {% load static %}
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <!-- SCRIPT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css'>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link href="{% static 'css/checkID.css' %}" rel="stylesheet" media="screen">
    <!-- Alert Custom -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
      $(function() {
        {%if result == 'success'%}
          Swal.fire({
            icon: 'success',
            title: '아이디 중복 확인 성공',
            text: '{{member_id}}는 사용 가능한 아이디입니다.',
            confirmButtonColor: '#F7C800',
            confirmButtonText: '돌아가기'
          });
        {%endif%}
        {%if result == 'fail' %}
          Swal.fire({
              icon: 'error',
              title: '아이디 중복 확인 불가능',
              text: '{{member_id}}는 사용 불가능한 아이디입니다.',
              confirmButtonColor: '#F7C800',
              confirmButtonText: '돌아가기'
            });
        {%endif%}
      });
    </script>
    <script type="text/javascript">
        function sendToParent(){
          var txt = document.getElementById("member_id").value;
          opener.document.getElementById("member_id").value = txt;
          f1.submit();
        }
    </script>
</head>
    <body translate="no" style="overflow-y: hidden; overflow-x: hidden;" onload="window.resizeTo(500,500)" onresize="window.resizeTo(500,500)">
      {%load static%}
      <section class="container">
            <h1 class="title">
                <span> 로그인 </span>
                <span> 중복 확인 </span>
            </h1>
            <form class="search-container" name = f1 action="{% url 'check_id'%}" method = "post">
              {% csrf_token %}
                <input id="member_id" name="member_id" type="text" class="search-box"/>
                <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label><br><br><br>
                <input class="checkID" name="checkID" id="checkID" type="button" onclick="sendToParent();" value="중복 확인">
            </form>
        </section>
    </body>
</html>
