<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title> Pit A Pet </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- JAVASCRIPT -->
    <script src="https://static.codepen.io/assets/editor/iframe/iframeRefreshCSS-e03f509ba0a671350b4b363ff105b2eb009850f34a2b4deaadaa63ed5d970b37.js"></script>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <!-- Bootstrap -->
    <script src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css'>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link href="{% static 'css/checkID.css' %}" rel="stylesheet" media="screen">
    <script>
        document.addEventListener("touchstart", function(){}, true);
    </script>
</head>
    <body translate="no" style="overflow-y: hidden; overflow-x: hidden;" onload="window.resizeTo(500,500)" onresize="window.resizeTo(500,500)">
        <section class="container">
            <h1 class="title">
                <span> 로그인 </span>
                <span> 중복 확인 </span>
            </h1>
            <form class="search-container" action="member.html">
                <input id="member_id" name="member_id" type="text" class="search-box"/>
                <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label><br><br><br>
                <input class="checkID" name="checkID" id="checkID" type="submit" value="사진 업로드">
            </form>
        </section>
    </body>
</html>
