<html>
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- JAVASCRIPT -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../../static/js/member.js"></script>
    <script src='https://code.jquery.com/jquery-1.11.3.min.js '></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/css/member.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="../../static/img/favicon.png" type="image/x-icon">
    <title> Pit A Pet </title>
  </head>
  <body translate="no">

    <div class="user-modal">
      <div class="user-modal-container">
        <ul class="switcher">
          <li><a href="#0"> 로그인 </a></li>
          <li><a href="#0"> 회원가입 </a></li>
        </ul>
      <div id="login">
        <form class="form" method="POST" action="{% url 'signin' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <p class="fieldset">
            <label class="image-replace id" for="member_id"> ID </label>
            <input class="full-width has-padding has-border" name = "member_id" id="member_id" type="text" placeholder="ID" required>
            <!-- <span class="error-message"> ID 가 존재하지 않습니다. 다시 한 번 확인해 주세요. </span> -->
          </p>
          <p class="fieldset">
            <label class="image-replace password" for="pwd"> Password </label>
            <input class="full-width has-padding has-border" id="pwd" name="pwd" type="password" placeholder="Password" required>
            <a href="#0" class="hide-password"> Show </a>
            <!-- <span class="error-message"> 비밀번호가 맞지 않습니다. 다시 한 번 확인해 주세요. </span> -->
          </p>
          <p class="fieldset">
            <input type="checkbox" id="remember-me" checked>
            <label for="remember-me"> Remember me </label>
          </p>
        <p class="fieldset">
          <input class="full-width" type="submit" value="로그인">
        </p>
      </form>
    <!-- <p class="form-bottom-message"><a href="#0"> 비밀번호를 잊어버리셨나요? </a></p> -->
    </div>

    <div id="signup">
      <form class="form" method="POST" action="{% url 'signup' %}">
        <p class="fieldset">
          <label class="image-replace id" for="member_id"> ID </label>
          <input class="full-width has-padding has-border" name = "member_id" id="member_id" type="text" placeholder="ID" required>
          <!-- <span class="error-message"> 이미 존재하는 아이디입니다. 다시 한 번 입력해 주세요 </span> -->
        </p>
        <p class="fieldset">
          <label class="image-replace password" for="pwd"> Password </label>

          <input class="full-width has-padding has-border" name = "pwd" id="pwd" type="password" placeholder="Password" required>
          <a href="#0" class="hide-password"> Show </a>
        </p>
        <p class="fieldset">
          <label class="image-replace password" for="repeatPwd"> Confirm Password </label>
          <input class="full-width has-padding has-border" name = "repeatPwd" id="repeatPwd" type="password" placeholder="Confirm Password" required>
          <span class="error-message"> 비밀번호가 일치하지 않습니다. 다시 한 번 입력해 주세요. </span>
        </p>
        <p class="fieldset">
          <label class="image-replace name" for="name"> Name </label>
          <input class="full-width has-padding has-border" name = "name" id="name" type="text" placeholder="Name" required>
        </p>
        <p class="fieldset">
          <label class="image-replace birth" for="birth"> Date Of Birth </label>
          <label class="dropdown">
            <select id="year" name="year">
              <option> Year </option>
            </select>
            <script> appendYear(); </script>
          </label>&nbsp;
          <label class="dropdown">
            <select id="month" name="month">
              <option> Month </option>
          </select>
          <script> appendMonth(); </script>
          </label> &nbsp;
          <label class="dropdown">
            <select id="day" name="day">
              <option> Day </option>
          </select>
          <script> appendDay(); </script>
          </label>
        </p>
        <p class="fieldset">
          <label class="image-replace animal" for="animal"> Animal </label>
          <input class="full-width has-padding has-border" name = "animal" id="animal" type="text" placeholder="kinds Of Pets" required>
        </p>
        <p class="fieldset">
          <label class="image-replace address" for="address"> Address </label>
          <label class="dropdown">
            <select id="add_city" name="addr_city" onchange="addressChange(this)">
                <option> 시를 선택해 주세요 </option>
                <option value="seoul"> 서울특별시 </option>
                <option value="busan"> 부산광역시 </option>
                <option value="daegu"> 대구광역시 </option>
                <option value="incheon"> 인천광역시 </option>
                <option value="gwangju"> 광주광역시 </option>
                <option value="daejeon"> 대전광역시 </option>
                <option value="ulsan"> 울산광역시 </option>
                <option value="gyeonggi"> 경기도 </option>
                <option value="gangwon"> 강원도 </option>
                <option value="chungcheongBugdo"> 충청북도 </option>
                <option value="chungcheongNamdo"> 충청남도 </option>
                <option value="sejong"> 세종특별자치시 </option>
                <option value="jeonlaBugdo"> 전라북도 </option>
                <option value="jeonlaNamdo"> 전라남도 </option>
                <option value="gyeongsangBugdo"> 경상북도 </option>
                <option value="gyeongsangNamdo"> 경상남도 </option>
                <option value="jeju"> 제주특별자치시 </option>
            </select>
          </label>
          <label class="dropdown">
            <select id="addr_gu" name="addr_gu" name="addr_gu">
              <option> 군이나 도를 선택해 주세요 </option>
            </select>
          </label>
        </p>
        <p class="fieldset">
          <label class="container2">
            <input type="radio" name="sex" id="sex" value="man" alt="man" checked > Man
            <span class="checkmark"></span>
          </label>
          <label class="container2">
            <input type="radio" name="sex" id="sex" value="women" alt="women"> Women
            <span class="checkmark"></span>
          </label>
        </p>
        <p class="fieldset">
          <label class="container2">
            <input type="radio" name="profile" id="profile" value="공개" alt="공개" checked > Public
            <span class="checkmark"></span>
          </label>
          <label class="container2">
            <input type="radio" name="profile" id="profile" value="비공개" alt="비공개"> Private
            <span class="checkmark"></span>
          </label>
        </p>
        <!-- <p class="fieldset">
          <input type="checkbox" id="accept-terms">
          <label for="accept-terms">I agree to the <a class="accept-terms" href="#0">Terms</a></label>
        </p> -->
        <div class="filebox bs3-primary preview-image">
          <input class="upload-name" value="파일 선택" disabled="disabled" style="width: 300px;">
          <label for="input_file"> 업로드 </label>
          <input type="file" id="input_file" class="upload-hidden">
        </div>
      
    <p class="fieldset">
      <input class="full-width has-padding" type="submit" value="회원가입">
    </p>
  </form>
</div>
    <!-- File Upload -->
    <script>
      $(document).ready(function () {
        var fileTarget = $('.filebox .upload-hidden');
        fileTarget.on('change', function () {
          if (window.FileReader) {
            var filename = $(this)[0].files[0].name;
          } else {
            var filename = $(this).val().split('/').pop().split('\\').pop();
          };
          
          $(this).siblings('.upload-name').val(filename);
        });

        var imgTarget = $('.preview-image .upload-hidden');
      
        imgTarget.on('change', function () {
          var parent = $(this).parent();
          parent.children('.upload-display').remove();
      
          if (window.FileReader) {
            if (!$(this)[0].files[0].type.match(/image\//)) return;
      
            var reader = new FileReader();
            reader.onload = function (e) {
              var src = e.target.result;
              parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img src="' + src + '" class="upload-thumb"></div></div>');
            };
            reader.readAsDataURL($(this)[0].files[0]);
          } else {
            $(this)[0].select();
            $(this)[0].blur();
            var imgSrc = document.selection.createRange().text;
            parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img class="upload-thumb"></div></div>');
      
            var img = $(this).siblings('.upload-display').find('img');
            img[0].style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='true',sizingMethod='scale',src=\"" + imgSrc + "\")";
          }
        });
      });
    </script>
</html>