<html>
    <head>
        <title> 회원가입 </title>
        <meta charset="utf-8">
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
        <script src="{% static 'js/signup.js' %}"></script>
    </head>
    <body>
        <form name="signpForm" method="POST" action="{% url 'signin' %}">
            {% csrf_token %}
            <div class="container">
            
                <h1> 로그인 </h1>
                <hr>
                <label for="id"><b> 아이디 </b></label>
                <input type="text" placeholder="아이디" name="member_id" required>
                <label for="pwd"><b> 비밀번호 </b></label>
                <input type="password" placeholder="비밀번호" name="pwd" required>
                    <div class="clearfix">
                        <button type="submit" class="signupbtn"> 로그인하기 </button>
                    </div>
            </div>
        </form>
    </body>
</html>