<!DOCTYPE html>
 
  <head>
    <meta charset="utf-8">
    <title>자식창</title>
  </head>
  <script>
  {%if result == 'success'%}
    alert("{{member_id}}는 사용 가능한 아이디입니다.");
    window.close();
    {%endif%}
    {%if result == 'fail' %}
    alert("{{member_id}}는 사용 불가한 아이디입니다.");
    {%endif%}
    </script>

    <form class="form" name = f1 method="POST" action="{% url 'test2' %}">
    {% csrf_token %}
    부모창에서 전달받은 값 : <input type="text" id="member_id" name="member_id" />
    <button type="button" name="button" onclick="sendToParent();">부모에게 전달</button>
    <script type="text/javascript">
      function sendToParent(){
        var txt = document.getElementById("member_id").value;
        opener.document.getElementById("member_id").value = txt;
        f1.submit();
      }
    </script>
  